rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para catas
    match /catas/{cataId} {
      allow read, write: if request.auth != null;
    }
    
    // Reglas para elementos de cata
    match /catas/{cataId}/elementos/{elementoId} {
      allow read, write: if request.auth != null;
    }
    
    // Reglas para votos
    match /catas/{cataId}/elementos/{elementoId}/votos/{votoId} {
      allow read, write: if request.auth != null;
    }
    
    // Reglas para usuarios
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Reglas para nombres de usuario
    match /nombres_usuario/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}